.gradpad{

    background-image: linear-gradient(rgb(95, 86, 86) , rgb(234, 238, 240));
    padding: 20px;
    color:black;
    text-align: center;
  }
  header.gradpad{
    background-image: linear-gradient(rgb(17, 77, 122) , rgb(100, 202, 253));    
    color:white
}

  section{
    position: absolute;
    top: 126px;
    right: 5000;
    width: 900px;
    height: 535px;
    border: 2px solid rgb(216, 218, 215);
  }
  aside{
      position:relative;
      left: 905px;  
      width: 430px;
      height: 500px;
  }
 footer{
      position:fixed
      width: 1000px;
      height:50px;
  }     

  .gradpad+section>h1{
    background-image: linear-gradient(rgb(184, 14, 14) , rgb(244, 244, 247));
  }
  article.gradpad{
    height: 368px;
    width: ;
  }

      
  

